body {
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
  background: url('images/background.gif') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

header a:hover {
  color: #ffa500;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #333;
}

#projects ul {
  list-style: none;
  padding: 0;
}

.project-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.project-item img {
  width: 120px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.project-info {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  flex-wrap: wrap;
}

.project-info strong,
.project-info p {
  margin: 0;
  font-size: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;

  }
}
